/node_modules
/blogfront/node_modules
/blogfront/.env
/public/hot
/public/storage
/api/storage/*.key
/api/storage/content
/vendor

api/.env
api/routes/dynamic.php

.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/api/vendor/
/wordpress/
