.posts {
  //display: grid;
  //grid-gap: 2.5rem;
  //grid-template-columns:  1fr;
}

.post {
  @apply relative;

  &-title {
    @apply pr-10;

    @screen md {
      @apply pr-0;
    }
  }

  &__figure {
    @apply relative;
  }

  &__categories {
    @apply absolute left-0;

    top: -1px
  }

  &__inner {
    @apply mt-3;

    @screen md {
      @apply -mt-10 relative bg-white p-6 ml-10;
    }

    &--wide {
      @screen md {
        @apply mt-0 ml-0 p-10 absolute bottom-0 left-0;

        width: 35%;
      }
    }
  }

  &__counter {
    right: 10px;
    top: 10px;

    @screen  md{
      @apply top-0 right-0;
    }
  }

  &__title {
    @apply text-black text-base leading-tight font-normal;

    @screen md {
      @apply text-2xl leading-tight font-normal block mr-10 mb-6;
    }

    &--wide {
      @screen md {
        @apply text-3xl leading-normal;
      }
    }

  }

  &__header {
    @apply relative mb-8;

    @screen md {
      @apply ml-20 bg-white p-6 -mt-20  pr-12 mb-10;

      z-index: 1
    }
  }

  &__meta {
    @apply flex items-center;

    @screen mobile {
      @apply flex-wrap;
    }

    &__socials {
      @screen mobile {
        @apply ml-auto mt-8 -mb-2;
      }
      @screen md {
        @apply ml-auto -mr-12;
      }
    }
  }

  &__author {
    @apply mr-10;

    @screen mobile {
      @apply text-sm mr-4;
    }
  }

  &__date {
    @apply text-grey mr-10;

    @screen mobile {
      @apply text-sm;
    }
  }

  &__block {
    @apply max-w-full mx-auto;

    @screen md {
      width: 52.5%;
    }
  }

  &__lead {
    @apply font-roboto mb-10 text-lg font-normal leading-relaxed;

    @screen sm {
      @apply text-3xl mb-10;
    }
  }

  &__content {
    @apply font-roboto text-base font-normal leading-normal;

    @screen md {
      @apply text-xl;
    }

    p {
      @apply mb-10;
    }

    h2, h3, h4, h5, h6 {
      @apply font-sans text-primary leading-tight font-semibold;
    }

    h2 {
      @apply mb-4 text-xl;

      @screen md {
        @apply mb-10 text-2xl;
      }
    }

    h3 {
      @apply mb-8;
    }

    h4 {
      @apply mb-6;
    }

    h5 {
      @apply mb-4;
    }
  }
}
